
.navlink{
    text-decoration: none;;
    font-size: 20px;
    margin-left: 20px;
    color: white;
  }
  .navlink:hover{
    color: red;
  }
  .cartbutton{
    position: absolute;
    margin-left: 20px;
    margin-right: 20px;
  }
  .navmargin{
    margin-right: 50px;
  }
  .dropdownbtn{
      position: absolute;
      margin-left: 140px;
    margin-right: 20px;
  }
  .prfil{
      margin-right: 200px;
  }
  @media screen and (max-width: 360px) and (min-width: 360px) {
   .navlink{
       width: 80px;
       margin-left: 40px;
   }
   .navbar-nav{ 
    display: inline !important;
   }
    .cartbutton{
    margin-left: 70px;
    }
    
  .dropdownbtn{
        position: relative;
        margin-left: 180px;
        margin-right: 20px;
}
.prfil{
    margin-top: 10px;
    margin-right: 30px;
}
.formwidth{
    width: 336px;
}
  }
  
  @media screen and (max-width: 376px) and (min-width: 374px) {
    .navlink{
        width: 80px;
        margin-left: 40px;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    .cartbutton{
        margin-left: 90px;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 190px;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    
    .formwidth{
        width: 347.6px;
    }
   }
   
  @media screen and (max-width: 415px) and (min-width: 413px) {
    .navlink{
        width: 80px;
        margin-left: 14%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    .cartbutton{
        margin-left: 100px;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 230px;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    
    .formwidth{
        width: 390.4px;
    }
   }
   
  @media screen and (max-width: 391px) and (min-width: 389px) {
    .navlink{
        width: 80px;
        margin-left: 13%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    .cartbutton{
        margin-left: 90px;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 210px;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 366.4px;
    }
   }

   @media screen and (max-width: 394px) and (min-width: 392px) {
    .navlink{
        width: 80px;
        margin-left: 13%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    .cartbutton{
        margin-left: 90px;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 210px;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 40px;
    }
    .formwidth{
        width: 369.6px;
    }
   }

   @media screen and (max-width: 413px) and (min-width: 411px) {
    .navlink{
        width: 80px;
        margin-left: 50px;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    .cartbutton{
        margin-left: 100px;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 230px;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 388px;
    }
   }

   @media screen and (max-width: 821px) and (min-width: 819px) {
    .navlink{
        width: 80px;
        margin-left: 20%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    
    .cartbutton{
        margin-left: 35%;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 63%;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 796px;
    }
   }
   @media screen and (max-width: 769px) and (min-width: 767px) {
    .navlink{
        width: 80px;
        margin-left: 20%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    
    .cartbutton{
        margin-left: 35%;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 63%;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 744px;
    }
   }
   @media screen and (max-width: 913px) and (min-width: 911px) {
    .navlink{
        width: 80px;
        margin-left: 20%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    
    .cartbutton{
        margin-left: 35%;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 63%;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 888px;
    }
   }
   @media screen and (max-width: 541px) and (min-width: 539px) {
    .navlink{
        width: 80px;
        margin-left: 15%;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    
    .cartbutton{
        margin-left: 35%;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 63%;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 516px;
    }
   }
   @media screen and (max-width: 281px) and (min-width: 279px) {
    .navlink{
        width: 80px;
        margin-left: 20px;
    }
    .navbar-nav{ 
     display: inline !important;
    }
    
    .cartbutton{
        margin-left: 10%;
    }
        
      .dropdownbtn{
            position: relative;
            margin-left: 63%;
            margin-right: 20px;
    }
    .prfil{
        margin-top: 10px;
        margin-right: 30px;
    }
    .formwidth{
        width: 256px;
    }
   }